
@if (token == null) {
    <div class="login">
        <input id="token-input" type="text" [(ngModel)]="tokeninput" placeholder="Discord Token">
        <button id="input-btn" (click)="settoken()">Login</button>
    </div>
} @else if(initialized) {
<div class="flercord">
    <nav class="guilds">
        @for (guild of guilds; track guild.id) {
            <img src="{{getGuildIconUrl(guild)}}">
          } @empty {
            No Guilds
          }
    </nav>
    <div class="channel-selector">
        <dm-channels [open_channel]="open_channel" [onClickChannel]="on_click_channel"/>
    </div>
    <div class="channel-view">
        <channel-view [channel_id]="open_channel" [recipients]="recipients"/>
    </div>
</div>
} @else {
    <div class="loading">
        <h1>Loading</h1>
    
        <div class="loader"></div>
    </div>
}
