
@if (token == null) {
    <div class="login">
        <input id="token-input" type="text" [(ngModel)]="tokeninput" placeholder="Discord Token">
        <button class="input-btn" (click)="settoken()">Login</button>
    </div>
} @else if(initialized) {
    <div class="toasts">
        @for (toast of toasts; track toast; let idx = $index) {
            <app-toast-alert [toast]="toast" (onDelete)="deleteToast(idx)"></app-toast-alert>
        }
    </div>

<div class="flercord">
    <nav class="guilds">
        @for (guild of guilds; track guild.id) {
            <img src="{{getGuildIconUrl(guild)}}" (click)="selectGuild(guild)">
          } @empty {
            No Guilds
          }
    </nav>
    @if (open_guild == undefined) {
        <div class="channel-selector">
            <dm-channels [open_channel]="open_channel" [onClickChannel]="on_click_channel"/>
        </div>
    } @else {
        <div class="guild-channel-selector">
            <guild-channel-selector [guild]="open_guild" [open_channel]="open_channel" (toggle_channel)="onOpenChannel($event)"></guild-channel-selector>
        </div>
    }
 
    <div class="channel-view">
        <channel-view [channel_id]="open_channel?.id" [recipients]="recipients" [guild_id]="open_guild?.id"/>
    </div>
</div>
} @else {
    <div class="loading">
        <h1>Loading</h1>
    
        <div class="loader"></div>

        <button class="input-btn" (click)="clearToken()">Logout</button>
    </div>
}
