@import '../../styles';

* {
    color: $text-color-light;
    font-family: $font-one;
}

.loading {
    width: 100vw;
    height: 100vh;
    background-color: $bg-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .loader {
        border: 4px solid $text-color-light;
        border-top: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s cubic-bezier(0.49, 0.73, 0.54, 0.53) infinite; /* Use the defined keyframe animation */
    }

    .settoken {
        background-color: blue;
    }
}

$login-width: 55rem;
$login-height: 3rem;

.login {


    height: 100vh;
    width: 100vw;
    background-color: $bg-color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    #token-input {
        box-sizing: border-box;

        padding-left: 1rem;
        width: $login-width;
        height: $login-height;

        margin: 1rem;


        border: none;
        outline: none;

        border-radius: 0.75rem;


        $bg: lighten-or-darken-color($bg-color-dark, 10);
        background-color: $bg;
        color: get-text-color($bg);

        &:focus {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 7.5px 20px;
        }
    }
}

.input-btn {
    box-sizing: border-box;

    padding-left: 1rem;
    width: $login-width;
    height: $login-height;
    
    margin: 1rem;

    border: none;
    outline: none;

    border-radius: 0.75rem;



    $bg: lighten-or-darken-color($bg-color-dark, 10);
    background-color: $bg;
    color: get-text-color($bg);

    &:focus {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.flercord {
    display: grid;
    grid-template-columns: 5rem 19rem 1fr;
    height: 100vh;
    width: 100vw;
}

.guilds {
    background-color: $bg-color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    overflow-y: auto;
    @include flercord-scrollbar;
    
    img {
        $img-size: 3.5rem;
        width: $img-size;
        height: $img-size;
        border-radius: 50%;
        margin-top: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.guild-channel-selector {
    background-color: rgb(26, 25, 32);

}

.channel-selector {
    background-color: $bg-color-dark-2;
    max-height: 100vh;
    overflow-y: auto;

    @include flercord-scrollbar;
}


.guild-channel-selector {
    background-color: $bg-color-dark-2;
    max-height: 100vh;
    overflow-y: auto;

    @include flercord-scrollbar;
}

.channel-view {
    background-color: $bg-color-dark-3;
    max-width: 100vw;
}

.alert {
    position: absolute;
    display: flex;
}

body {
    position: relative;
}


.toasts {
    position: absolute;
}