<div class="application-overview">
    <div class="applications">

        @for (app of applications; track app) {
            <img class="app-img" [src]="getAvatarUrl(app)" (click)="selectApp(app)">
        }

    </div>

    <div class="commands">
        @for (command of getCommands(selectedApplication); track command) {
            <div class="command" (click)="selectCommand(command)">
                <div class="img-container"><img [src]="getAvatarUrl(selectedApplication)"> </div>
                <h3 class="commandName">{{command.name}}</h3>
                <p class="commandDescription">{{command.description}}</p>
                <p class="commandApplicationName">selectedApplication.application.bot.global_name</p>
            </div>

        }
    </div>
</div>