.guild-icon {
    border-radius: 50%;

    width: 3.5em;
    height: 3.5em;
}

.channels {
    margin: 1em;
}

.guildInfo {
    padding: 1em;
    margin: 0em;
    display: flex;
    align-items: center;
    height: 3em;

    background-color: rgba(3, 5, 2, 0.15);
    border-bottom-left-radius: 3em;
    //border-bottom-right-radius: 3em;

}

.guild-name {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.75em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1em;
}