$pill-outline-color-not-required: rgba(120, 130, 223, 0.7);
$pill-outline-color-required: rgba(223, 130, 130, 0.7);


.option-pill {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: rgba(27, 32, 25, 0.5);
    height: 2rem;
    border-radius: 0.5rem;

    &-false {
        outline: 1px solid $pill-outline-color-not-required;

        p {
            border-right: 1px solid $pill-outline-color-not-required;
        }
    }

    &-true {
        outline: 1px solid $pill-outline-color-required;

        p {
            border-right: 1px solid $pill-outline-color-required;
        }
    }
    p {
        padding: 0 0.5rem;
        margin-left: 0.3rem;
    }
    input {
        height: 100%;
        background-color: rgba(127, 132, 125, 0.5);
        border: none;
        border-radius: 0.5rem;
        
        color: #eee;
    
        &:focus {
            outline: none;
        }
    }
}