.auth {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(27, 26, 25);

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        
        .email, .password {
            display: flex;
            flex-direction: column;
            label, input {
                font-family: Arial, Helvetica, sans-serif;
                color: #eee;
                font-size: 1.5rem;
            }

            input {
                border: none;
                border-radius: 1rem;
                box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.1);
                background-color: rgba(213, 210, 190, 0.1);
                padding: 0.45rem 1rem;
                &:focus {
                    outline: none;
                    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .button-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            button {
                width: 100%;
                margin: 0.2rem;
                padding: 0.5rem;
                border: none;
                border-radius: 1.5rem;
                background: rgb(130, 125, 210);
                color: #ebebeb;
                font-size: 1.25rem;
                transition: all 0.5s;

                &:focus, &:hover {
                    outline: none;
                    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.4);
                    transform: scale(1.1);

                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.disabled {
    filter: grayscale(0.75) brightness(0.7) !important;

    &:hover {
        cursor: not-allowed !important;
    }
}

.help-invalid {
    margin: 0;
    margin-top: 0.1rem;
    padding: 0.1rem;
    color: #dedede;
    width: 100%;
    height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

app-error-dialog {
    position: absolute;
    top: 0;
    left: 0;
}