.channelGroup {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 1.25em;
    padding: 0;
}


.clickable {
    color: rgba(211, 211, 211, 0.7);

    &:hover {
        cursor: pointer;
        color: white;
    }
}

.selected-true {
    color: white;
    background-color: rgba(125, 125, 125, 0.2);
    border-radius: 1em;
}

.parentwrapper {
    display: grid;
    grid-template-columns: 1.25em 1fr;
    padding: 0;
    margin: 0;
    margin-bottom: 0.2em;
}

.parent {
    margin: 0;
    padding: 0;
}

.parentsvg {
    width: 0.7em;
    height: 0.7em;
    margin: 0;
    padding: 0;
    margin-top: 0.2em;
    display: flex;
    align-items: center;
}

.parentsvg-false {
    rotate: 270deg;
}


.childwrapper {
    display: grid;
    grid-template-columns: 1.25em 1fr;
    padding: 0;
    margin: 0;
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 1em;

}

.channelsvg {
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgb(26, 25, 32);

    width: 1em;
    height: 1em;
    margin-right: 1em; /* Add a 5px right margin to the image */
}

.child {
    padding: 0px;
    max-height: 100vh;
    overflow-y: auto;
    margin: 0;
}

.child-hasunread-true {
    color: white;
}