<div class="channelGroup">
    <div class="clickable parentwrapper"(click)="toggleExpand()">
        <img class="parentsvg parentsvg-{{expanded}}" src="assets/down.svg"/>
        <p class="parent">{{channel_group.parent.name}}</p>
    </div>
    @for (child of getExpandedChildrenOfChannelGroup(channel_group); track child) {
        <div 
        class="childwrapper clickable selected-{{open_channel?.id==child.id}}" 
        (click)="changeChannel(child)">
            <img class="channelsvg" src="{{getSvgPath(child)}}"/>
            <p class="child child-hasunread-{{hasUnread(child)}}">
                {{child.name}}
            </p>
        </div>
    }

</div>
