@if (recipients.length != 0 && false) {
    <div class="grid-80-20">
        <div class="ctnr">
            <div class="message-container" #messagesDiv>
                @for(message of messages; track message.id) {
                    <standard-message [message]="message" [messages]="messages" (onDelete)="deleteMessage(message)" (startReply)="startReply(message)"/>
                }
            </div>
            @if (channel_id) {
                <message-button [onType]="onType" [sendMessage]="sendMessage" [replyMessage]="replyTo" (onRemoveReply)="endReply()"
                [guild_id]="guild_id" (useCommand)="useCommand($event)"/>
            }
        </div>

        
        <div class="recipients">
            @for (recipient of recipients; track recipient.id) {
                <div class="recipient">
                    <img src="{{getAvatar(recipient)}}" alt="" class="recipient-avatar">
                    <p class="recipient-name">{{recipient.username}}</p>
                </div>
            }
        </div>
    </div>
} @else {
    <div class="ctnr">
        <div class="message-container" #messagesDiv>
            @for(message of messages; track message.id) {
                <standard-message [message]="message" [messages]="messages" (onDelete)="deleteMessage(message)" (startReply)="startReply(message)"/>
            }
        </div>
        @if (channel_id) {
            <message-button [onType]="onType" [sendMessage]="sendMessage" [replyMessage]="replyTo" (onRemoveReply)="endReply()"
            [guild_id]="guild_id" (useCommand)="useCommand($event)"/>
        }
    </div>
}