@import '../../styles';

* {
    margin: 0;
    color: white;
    font-family: $font-one;
}

.commands {
    width: 100%;
    min-height: 100%;
    background-color: $bg-color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include flercord-scrollbar;


    .command {
        background-color: rgba(250,250,250,0.1);
        padding: 1rem;
        margin: 1.25rem 0rem;
        width: 85%;
        border-radius: 2.5rem;

        display: grid;
        grid-template-areas: 
            "name name name name name creator creator creator creator creator"
            "name name name name name creator creator creator creator creator"
            "name name name name name creator creator creator creator creator"
            "command-created command-created command-created command-created command-created command-created command-created command-created command-created command-created"
            "content content content content content content content content content content"
            "content content content content content content content content content content"
            "content content content content content content content content content content";

        .command-name {
            grid-area: name;
        }
    
        .command-creator {
            grid-area: creator;

            display: flex;
            justify-content: end;
            align-items: center;
            gap: 0.5rem;
    
            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
        }
    
        .command-created {
            grid-area: command-created;
            text-align: end;
            color: rgb(255, 255, 255, 0.6);
            font-size: 1rem;
        }
    
        .command-response {
            grid-area: content;
        }
    }

}