$slide-duration: 1s;

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

@keyframes slide-down {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

.toast {
    border-radius: 1rem;
    padding: 0.1rem 3rem;
    width: 50vw;
    z-index: 3;
    animation-name: slide-down;
    animation-duration: 1s;

    margin: 1rem;

    position: relative;


    &-success {
        background: rgba(120, 230, 130, 0.3);
    }
    &-danger {
        background: rgba(230, 130, 130, 0.3);
    }
    p {
        backdrop-filter: blur(3px);
        z-index: 5;
        margin: 0;
        text-align: center;
        width: 100%;
        line-height: 1.75;
    }
    .title {
        font-size: 1.7rem;
    }
}