<div>
    @if (view_commands) {
        <app-guild-application-commands-view [applications]="applications" [filter]="cmdFilter"
        (onSelectCommand)="onSelectCommand($event)"></app-guild-application-commands-view>
    } @else if (replyMessage) {
    <div class="replyTo" [deletable]="deleteReply">
        <img [src]="getAvatar(replyMessage!.author)" class="reply-avatar">
        <p class="reply-username">{{replyMessage.author.global_name}}</p>
        <p class="reply-message">{{replyMessage.content}}</p>

    </div>
    }

    <div class="bottom-left-div">
        <div
            #messageDiv
            contenteditable="true"
            (input)="onInput($event)"
            name="message"
            id="message"
            placeholder="Enter your message"
        >
        </div>
        @for (option of command_select?.command?.options ?? []; track option) {
            <app-option-pill [name]="option.name" (changeText)="changeOptionPill(option, $event)" [required]="option.required"></app-option-pill>
        }

        <button class="sendmessagebutton" (click)="send()">
            <img src="assets/sendmessage.svg"/>
        </button>

    </div>
      
  </div>